$accent-color: #D41443;

$color-black: #000000;
$color-white: #ffffff;

$background-color-1: #FFA5BA;
$background-color-2: #F0D1A5;
$background-color-3: #C2E297;

$color-h2: #d41443;
$color-h1: #FFFFFF;
$color-h3: #FFA5BA;

$primary-shadow: 0px 8px 30px 0px rgba(212,20,67,0.16);